body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

.card-img-top {
    object-fit: cover;
}

.product-page {
    padding: 40px;
}

.product-image {
    border-radius: 8px;
}

.product-details-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.product-price-availability {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-price {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 20px;
}

.product-availability {
    font-size: 1.5rem;
    font-style: italic;
}

.product-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.product-form-label {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-form-input {
    font-size: 1.5rem;
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 2px;
}

.product-add-to-cart-btn {
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.product-add-to-cart-btn:hover {
    background-color: #0069d9;
    transform: translateY(-2px);
}

.product-category-section {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.product-category-label {
    font-weight: bold;
    margin-right: 10px;
}

.product-description-section {
    font-size: 1.5rem;
}

.product-description-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    line-height: 1.6;
}